body {
    font-family: sans-serif;
  }

header {
  height: 75px;
  background-color: red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer {
  height: 50px;
  background-color: blue;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#home-main-contents {
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}