body {
    font-family: sans-serif;
  }

header {
  height: 75px;
  padding: 10px;
  background-color: red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#nav-container {
  display: flex;
  flex-direction: row;
  background-color: royalblue;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}

footer {
  height: 50px;
  padding: 10px;
  background-color: blue;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#home-main-contents {
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

#all-books-container {
  background-color: purple;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

#all-books-book-container {
  background-color: chartreuse;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 125px;
  height: 150px;
}